{% extends "base.html" %}
{% block body %}
  <style>
   .event-date {
     float: left;
     margin: 0 20px 10px 0;
     padding: 8px;
     text-align: center;
     background: #F1B51C;
   }
   .event-date-month, .event-date-day-of-week, .event-date-divider {
     margin: 0 0 5px 0;
     padding: 0 0 0px 0;
     font-family: "kulturista", Georgia, Times, "Times New Roman", serif;
     font-size: 15px;
     font-weight: normal;
     color: #FFFFFF;
     font-style: italic;
     text-transform: uppercase;
     text-shadow: 0 1px 1px rgba(0,0,0,0.4);
   }
   .event-date-day {
     margin: 0;
     padding: 0;
     font-family: "runda", "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 30px;
     font-weight: bold;
     line-height: 1;
     color: #FFFFFF;
     text-shadow: 0 1px 1px rgba(0,0,0,0.28);
   }
   .event-name {
     font-weight: bold;
   }
   .event-presenter {
     font-size: 12px;
     font-style: italic;
   }
   .event-subtitle {
     font-size: 12px;
   }
   .event-detail {
     margin-left: 10px;
   }
   .event-details {
     margin-top:10px;
     font-size:14px;
   }

   .location-name {
     font-size: 14px;
     font-weight: bold;
   }
   .location-address span {
     font-size: 12px;
     display: block;
   }
   .ticket-column-headings {
     font-size: 11px;
     font-weight: 300;
     text-transform: uppercase;
     border-bottom: 1px solid #e9ebef;
     padding-bottom: 10px;
     margin-top: 0;
     white-space: nowrap;
     display: inline-block;
   }
   .fa-info {
     background: url({% static 'img/tooltip.png' %}) no-repeat center center;
     width: 4px;
     height: 9px;
     display: inline-block;
     padding-left: 20px;
   }

   div.tooltip {
     text-transform: none;
   }

   .fade.in {
     opacity: 1 !important;
     transition: opacity 0.25s ease in out;
     -moz-transition: opacity 0.25s ease in out;
     -webkit-transition: opacity 0.25s ease-in-out;
   }

   .tooltip.top {
     padding: 5px o;
     margin-top: -3px;
   }

   .tooltip.in {
     filter: alpha(opacity=90);
     opacity: .9;
   }

   .fade.in {
     opacity: 1;
   }

   .tooltip {
     position: absolute;
     z-index: 1070;,
     display: block;
     font-size: 12px;
     line-height: 1.4;
     visibility: visible;
     filter: alpha(opacity=0);
     opacity: 0;
     box-sizing: border-box;
   }

   .tooltip.top .tooltip-arrow {
     bottom: 0;
     left: 50%;
     margin-left: -5px;
     border-width: 5px 5px 0;
     border-top-color: #000;
   }

   .tooltip-arrow {
     position: absolute;
     width: 0;
     height: 0;
     border-color: transparent;
     border-style: solid;
     box-sizing: border-box;
   }

   .row .columns .ticket-column-data {
     margin-top: 18px;
     float: none;
     text-align: center;
     font-size: 14px;
   }

   .row .columns .ticket-column-data.ticket-type,
   .row .columns .ticket-column-data.ticket-restrictions,
   .row .columns .ticket-column-data.ticket-shipping {
     float: left;
   }

   .ticket-details {
     text-align: center;
   }

   .ticketing {
     background-color: #F2F2F2;
     padding: 10px;
   }

   .ticket-checkout {
     margin-left: 32px;
     background-color: #F1B51C;
     border-color: #F1B51C;
   }

  </style>
  <div class="row">
    <div class="large-12 columns" id="header-target">
    </div>
    <hr />
    <div class="large-12 columns" role="content" id="event-target">

    </div>
    </aside>
  </div>
  <script type="text/javascript" id="event">var current_event = {{event|safe}}</script>
  <script>
   $(function() {
     var eventRender = require('eventRender');
     var h = eventRender.getEventHeader(current_event);
     var e = eventRender.getEventDetail(current_event);
     React.render(h, document.getElementById("header-target"));
     React.render(e, document.getElementById("event-target"));
   });
  </script>
{% endblock %}
