{% extends "base.html" %}
{% block body %}
  <div class="row">
    <div class="large-12 columns" id="header-target">
    </div>
    <hr />
    <div class="large-12 columns" role="content" id="event-target">
    </div>
    </aside>
  </div>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" id="event">var current_event = {{event|safe}}</script>
  <script type="text/javascript" id="urls">
   var urls = { 'urls': { 'restart': '{% url event:detail slug %}',
                          'start_paypal': '{% url payment:start_paypal %}',
                          'execute_paypal': '{% url payment:execute_paypal %}',
                          'execute_stripe': '{% url payment:execute_stripe %}'} };
  </script>
  <script type="text/javascript" id="transaction">
   {% if transaction %}
     var transaction = {{transaction|safe}};
   {% else %}
      var transaction = {};
   {% endif %}
  </script>
  <script type="text/javascript" id="stripe_data">
   var stripe = {{stripe|safe}};
  </script>

  <script type="text/javascript" id="stripe_data">
   $(function() {
     var eventRender = require('eventRender');
     var h = eventRender.getEventHeader(current_event, urls, transaction, stripe);
     var e = eventRender.getEventDetail(current_event, urls, transaction, stripe);
     React.render(h, document.getElementById("header-target"));
     React.render(e, document.getElementById("event-target"));
   });
  </script>
{% endblock %}
