.event-header-row {
	background-image: url('/media/event-image/None/2016-06-28T03%3A08%3A17.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	height: 350px;
	min-width: 100%;

	.columns {
		padding:0;
	}
	#header-target {
		background-color: rgba(0,0,0,0.75);
			@media only screen and (min-width: 1026px) {
				max-height: 45%;
				overflow: hidden;
				padding-top: 0;
			}	
		.small-12, .large-2 {
    	font-family: $accent-font;
	    	@media only screen and (min-width: 1026px) {
	    		padding-top: 0;
	    	}
		}
		.event-date {
		    background: $gold;
		    font-family: $accent-font;	
			padding: 15px 10px;
			padding: 15px 10px;
			margin-bottom: 0px;
			text-align: center;
			
			@media only screen and (min-width: 1026px) {
				height: 100%;
			}
			span.event-date-month, span.event-date-day {
				@media only screen and (min-width: 1026px) {
					font-size: 32px;
				}
			}				
			span.event-date-day-of-week {
				@media only screen and (min-width: 1026px) {
					font-size: 22px;
					display: block;
				}
			}
			span.event-date-month {
				margin: 0 5px;
			}						
		}

		#event-details {
			padding: 15px;
			text-align: center;
			.event-presenter, .event-subtitle {
				font-family: $accent-font;
			}
			.event-subtitle {
				font-weight: 300;
				font-style: italic;
			}
		}
	}
	h2 {
		color: $gold;
		font-family: $accent-font;
	}
}

