hr {
	display: none;
} //take out the html if we are not going to keep this

.stripe-button-el {
	overflow: hidden;
	display: inline-block;
	visibility: visible !important;
	background-image: -webkit-linear-gradient(#28a0e5,#015e94);
	background-image: -moz-linear-gradient(#28a0e5,#015e94);
	background-image: -ms-linear-gradient(#28a0e5,#015e94);
	background-image: -o-linear-gradient(#28a0e5,#015e94);
	background-image: -webkit-linear-gradient(#28a0e5,#015e94);
	background-image: -moz-linear-gradient(#28a0e5,#015e94);
	background-image: -ms-linear-gradient(#28a0e5,#015e94);
	background-image: -o-linear-gradient(#28a0e5,#015e94);
	background-image: linear-gradient(#28a0e5,#015e94);
	-webkit-font-smoothing: antialiased;
	border: 0;
	padding: 1px;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	-ms-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	-o-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
	align-items: flex-start;
	text-align: center;
	background-color: buttonface;
	box-sizing: border-box;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	width: 30%;
	height: 35px;
	margin-bottom: 0px;
	margin-left: 10px;
} 
.error-message {
	padding-bottom: 10px;
	color: red;
}
.panel {
	background: #2d2f2e;
}
.panel h1 {
	color: #fff;
	font-weight: 300;
}
.event-date-month, .event-date-day-of-week, .event-date-divider {
	margin: 0 0 5px 0;
	padding: 0 0 0px 0;
	font-family: "kulturista", Georgia, Times, "Times New Roman", serif;
	font-size: 28px;
	font-weight: normal;
	color: #FFFFFF;
	//font-style: italic;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.event-date-month, .event-date-day-of-week, .event-date-day {
	line-height: 1em;
}
.event-date {
	background: #F1B51C;	
	float: left;
	height: 100%;
	margin: 0px;
	padding: 20px 20px 10px;
	text-align: center;
	width: 100%;   
}
#event-details-fade, #event-location  {
	padding: 10px 20px;
} 
.event-date-day {
	margin: 0;
	padding: 0;
	font-family: "runda", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
	// line-height: 1;
	color: #FFFFFF;
	text-shadow: 0 1px 1px rgba(0,0,0,0.28);
}
#event-date-box {
	width: 30%;
}
#event-date-box.large-1 {
	padding-right: 0px;
}
#event-details {
	background-color: #000;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding: 0px;
	position: relative;
}
#event-details-fade {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
    width: 100%;   
}
#event-details h2 {
	color: #fff;	
}
#event-location {
	background-color: #f1b51c;
	color: #090909;
	left: 0px;
	position: relative;
    width: 30%;
}
#event-location a img {
	position: relative;
    left: 5px;
    bottom: 2px;
}
.event-presenter, .event-name, .event-subtitle {

}
.event-name {
	font-weight: bold;
}
.event-presenter {
	font-size: 12px;
	font-style: italic;
}
.event-subtitle {
	font-size: 12px;
}
#event-target .large-4 {
	border-bottom: none;
}
.event-detail {
	margin-left: 10px;
}
.event-details {
	margin-top:10px;
	font-size:14px;
}
.event-right-column {
	width: 100%;
	//width: 71.66667%;
}
.fa-info {
	background: url('../../img/tooltip.png') no-repeat center center;
	background-color: #fff;
	border: 1px solid #0e0e0e;
	border-radius: 50%;
	// box-shadow: 2px 1px 2px #aaa;     
	display: inline-block;
	margin-left: 10px;
	padding: 7px;
	position: relative;
	bottom: 5px; 
}
#event-img-mobile {
	background: url('../../img/concert.jpg') no-repeat center center;
	width: 100%;
	height: 200px;
}
#header-target .row {
	display: inline-flex;
	height: 150px;
	padding-top: 10px;
	width: 100%;
}
#header-target {
	padding-right: 0px;
}
#left-column-details {
    width: 27%;
    margin-right: 0px;	
}
#left-column-details h4 {
	float: none;
}
.event-detail-left {
	margin-top: 30px;
}
.location-name {
	font-size: 14px;
	font-weight: bold;
}
.location-address span {
	font-size: 12px;
	display: block;
}
.ticket-column-headings, p.ticket-column-data.ticket-shipping {
	border-bottom: none;
	font-size: 22px;
	font-weight: 300;
	float: left;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin-top: 0;
	white-space: nowrap;
	display: inline-block;
}
p.ticket-column-data {
	font-size: 22px;
}
p.ticket-column-data.ticket-shipping {
	margin-left: 32px;
}
// .ticket-column-headings {
// 	border-bottom: 1px solid #e9ebef;	
// }

div.tooltip {
	text-transform: none;
}

.fade.in {
	opacity: 1 !important;
	transition: opacity 0.25s ease in out;
	-moz-transition: opacity 0.25s ease in out;
	-webkit-transition: opacity 0.25s ease-in-out;
}

.tooltip.top {
	padding: 5px o;
	margin-top: -3px;
}

.tooltip.in {
	filter: alpha(opacity=90);
	opacity: .9;
}

.fade.in {
	opacity: 1;
}
select.ticket-quantity.ticket-column-data, select.ticket-shipping-options.ticket-column-data {
	background-color: #fff;
	float: right;
	left: 7px;
	margin-top: 0px !important;
	position: relative;  
}
p.ticket-shipping.ticket-column-data {
	float: left;
}
.tooltip {
	position: absolute;
	z-index: 1070;,
	display: block;
	font-size: 12px;
	line-height: 1.4;
	visibility: visible;
	filter: alpha(opacity=0);
	opacity: 0;
	box-sizing: border-box;
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	box-sizing: border-box;
}

.row .columns .ticket-column-data.ticket-type,
.row .columns .ticket-column-data.ticket-restrictions {
	float: right;
}
.ticket-details {
	text-align: center;
}
.ticket-details ul li {
	padding-top: 23px;
}

#buy-tickets-heading, #shipping-heading {
	display: none;
}
@media only screen and (min-width: 1026px) {
	#buy-tickets-heading, #shipping-heading {
		display: block;
	}
}
.ticket-restrictions {
	text-align: center;
	width: 100%;
}
.ticketing {
	background-color: #F2F2F2;
	padding: 40px 10px 10px;
}

.ticket-checkout {
	margin-left: 32px;
	background-color: #F1B51C;
	border-color: #F1B51C;
}

.transaction-modal {
	visibility: visible;
	display: block;
	position: absolute;
	z-index: 1005;
	width: 100vw;
	top: 0;
	border-radius: 3px;
	left: 0;
	background-color: #FFFFFF;
	padding: 1.25rem;
	border: solid 1px #666666;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	padding: 1.875rem;
	width: 80%;
	max-width: 62.5rem;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.ticketing-order-button-holder {
	text-align: center;
}
.close {
	font-size: 2.5rem;
	line-height: 1;
	position: absolute;
	top: 0.625rem;
	right: 1.375rem;
	color: #AAAAAA;
	font-weight: bold;
	cursor: pointer;
}

.order-summary {
background-color: #F2F2F2;
padding: 30px;
}

dd { display: block; float: right; }
dt { display: block; float: left; clear: both; }

.order-button-holder {
	text-align: center;
}

.ticketing-order-button-holder {
	padding-left: 5px;
	padding-bottom: 10px;
}

.button.order-button {
	margin: 0px;
}

input.error-field, select.error-field {
	background-color: pink;
}

.city-state-zip-section .city-state-zip-field {
	float: left;
	margin-right: 10px;
}


@media only screen and (min-width: 40.063em) {


  div.ticket-header.large-3.columns {
     padding-left: 2.9375em;
     padding-right: 1.9em;
  }
}
