<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.0/react-with-addons.js"></script>
    <script src="{% static "compiled/tckt.js" %}" ></script>
  </head>
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h1>Feed Template</h1>
      </div>
    </div>
  </div>
  {% block body %}
  {% endblock %}
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-5 columns">
          <p>Copyright © Paul Prior 2015</p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
            <li><a href="#">Section 5</a></li>
            <li><a href="#">Section 6</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</html>
